h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 60px;
    color:rgba(27, 94, 139, 0.815);
    text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #b9b9b9, 0 6px 1px rgba(0,0,0,0.1),
    0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2);
 }

 .grid-container {
    text-align: center;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 70px 70px 70px 70px; /*Make the grid smaller than the container*/
    grid-gap: 30px;
    padding: 10px;
 }

.grid-container > div {
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #E7F4FE;
    width: 270px;
    height: 250px;
    text-align: center;
    border-radius: 20px;
    margin-top: auto;
    padding: 20px 0;
}

img {
     width:40%;
     height: 40%;
     border-radius: 20px;
     object-fit: cover;
     object-position: center;
}

h5 {
     font-size: 20px;
     text-align: center;
     height: 10px;
     margin-bottom: 10px;
 }

 .type{
     color: black;
     font-size: 17px;
     height: 20px;
     margin-bottom: 20px;
 }
 a {
     border: none;
     border-radius: 10px;
     margin-bottom: 20px;
     outline: 0px;
     padding: 10px;
     color: white;
     background-color: rgb(175, 215, 248);
     text-align: center;
     cursor: pointer;
     font-size: 19px;
     text-decoration: none;
     font-family: 'Courier New', Courier, monospace;
 }

a:hover{
     opacity: 0.7;
     transition: all 0.7s;
     text-transform: uppercase;
     color: #3062a8;
 }

#footer {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 5%;
    position: absolute;
    vertical-align: middle;
    width: 9%;
}

 a {
     display: inline-block;
 }

 .copyright{
     font-size: 20px;
     padding-bottom: 20px;
 }