<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link href="/css/abilities.css" rel="StyleSheet" type="text/css">
</head>
<body>
<h1>Pokemon details</h1>
<div class="grid-container">
    <div th:each="ability : ${abilities}">
        <h5><p th:text="${ability.name}"></p></h5>
        <p class="type">PP:
        <p th:text="${ability.pp}"></p>
        <p class="type">description:
        <p th:text="${ability.description}"></p>
    </div>
</div>
<div id="footer">
    <div class="copyright">©2021 PokeTeams</div>
</div>
</body>
</html>