<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link href="/css/index.css" rel="StyleSheet" type="text/css">
</head>
<body>
<h1>Pokemon's list</h1>
<div class="grid-container">
    <div th:each="pokemon : ${pokemons}">
        <img th:src="@{${'/images/' + pokemon.image}}" alt="Pokemon"/>
        <h5><p th:text="${pokemon.name}"></p></h5>
        <p class="type" th:text="${pokemon.type}"></p>
        <a th:href="${pokemon.id}">Details</a>
    </div>
</div>
<div id="footer">
    <a title="GitHub" href="https://github.com/Team-Rocket-Group-3" target="_blank">
        <img src="/images/github.png" alt="GitHub"></a>
    <div class="copyright">©2021 PokeTeams</div>
</div>
</body>
</html>